@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  background-color: #ffffff;
}

.visually-hidden {
  visibility: visible;
}

.page-header {
  background-color: #ffe17f;
}

.search-button {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background: none;
}

.navigation-link-top {
  color: #000000;
  text-decoration: none;
}

.navigation-link-bottom {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.cart-list-block {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #000000;
  width: 320px;
  height: auto;
}

.cart-list-total {
  background-color: #1a1a1a;
}

.open-cart-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.header-device-class-link {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.slider-button {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  background: none;
}

.device-number {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  color: #ffffff;
  background-color: #ffe17f;
  text-align: right;
}

.advantages-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.more-info {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.spec-value {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
}

.spec-feature {
  font-size: 16px;
  line-height: 30px;
}

.device-gallery-pagination-button {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  background: none;
}

.device-class-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.class-icon-box {
  width: 160px;
  height: 155px;
  background-color: #ffe17f;
  text-align: center;
  padding-top: 5px;
}

.glasses-icon {
  margin: 52px 0;
}

.monopod-icon {
  margin: 39px 0;
}

.camera-icon {
  margin: 31px 0;
}

.fitness-tracker-icon {
  margin: 42px 0;
}

.smart-watch-icon {
  margin: 26px 0;
}

.quadrocopter-icon {
  margin: 40px 0;
}

.services-item-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.services-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.delivery-option-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 0.2em;
  line-height: 23px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.about-us-title,
.contacts-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.delivery-companies-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
}

.about-us-more-info,
.contact-us {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: 22px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.contacts-adress-text {
  font-style: normal;
}

.contacts-phone {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  color: #444444;
}

.subscribe {
  background-color: #f0f0f0;
}

.subscribe-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.subscribe-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: 21px;
  background: none;
  color: #000000;
  text-transform: uppercase;
}

.page-footer {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  background-color: #444444;
}

.adress-text {
  line-height: 19px;
  font-style: normal;
}

.footer-navigation-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-contacts-phone {
  line-height: 20px;
  color: #ffffff;
}

.footer-social-item span,
.footer-social-item a {
  color: #ffffff;
  text-decoration: none;
}

.main-inner {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  background-color: #f0f0f0;
}

.catalog-product-cards {
  background-color: #ffffff;
}

.inner-header-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.breadcrumbs-link {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}

.catalog-filter-headline,
.select-control-headline {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.2em;
  line-height: 19px;
  color: #000000;
  text-transform: uppercase;
}

.button-show {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}

.select-control {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #ffffff;
}

.sort-button {
  color: #000000;
  background: none;
  text-decoration: none;
}

.product-card {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  color: #000000;
}

.product-card-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.product-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
  color: #444444;
}

.pagination-show-more {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0.2em;
  line-height: 19px;
  color: #000000;
  background: none;
  text-decoration: none;
  text-transform: uppercase;
}

.pagination-link {
  font-size: 18px;
  line-height: 21px;
  color: #444444;
  text-decoration: none;
}

.pagination-prev,
.pagination-next {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0.2em;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}


